@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Oswald:wght@300&display=swap');

body {
    padding: 0 2 % ; /* régler la marge */
    margin: 0; /* enlever les marges auto (à l'intérieur et à l'exterieur de l'element*/
    font-family: 'Noto Sans', sans-serif; /* changer la police */
}

nav {
    display: flex; /* aligner mes listes dans la balise nav */
    flex-wrap: wrap; /* aligner mes listes au niv de la page */
    justify-content: space-between; /* Faire un espace */
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
}

nav .profile {
    display: flex; /* aligner mes listes dans la balise nav */
    align-items: center;
}

img {
    width: 70px;
    height: 70px;  
    border-radius: 50%;
}

h1 {
    margin-left: 100px;
    font-size: 10px;
}